body
{
background-color: #EAF6F6;

}
hr
{
background-color: green;
border-style: none;
height: 3px;
border-top-style: groove;
  border-top-color: coral;
  border-top-width: 7px;
	width: 100%;
}
h1
{
color: Red;
}

